*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}
.App{
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 0.1em auto;
  color: #fff;
  font-size: 5em;
}
.h2 {
  margin: 0.1em auto;
  color: #fff;
  font-size: 5em;
}

.SliderReact{
  overflow: hidden;
  margin: 5em auto;
  transform: translateY(-100px);
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1000px){
  .SliderReact{
    width: 100%;
    border-radius: 0;
  }

}
